/* Normalize stylesheet */
@import "modern-normalize";

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

/* h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
} */

img {
  display: block;
  max-inline-size: 100%;
}

/* My style edits */
body {
    display: flex;
    margin: 0;
    height: 100vh;
}

.left-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100rem;
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
}

.Kia_picture {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire area */
}

.logo_container {
    display: flex;
    position: absolute;
    background: black;
    opacity: 0.5;
    color: white;
    top: 5%;
    width: 100%;
    height: 12%;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    gap: 20px;
    padding: 1rem;
}

.logo {
    width: 70px;
    /* max-width: 10%; */
    height: auto;
}

.picture_credits {
    position: absolute;
    background: black;
    opacity: 0.5;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1rem;
    padding: 5px 0;
}

.right-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    /* width: 60vw; */
    background-color: #f4f5f7;
    flex-grow: 1;
    flex-shrink: 1;
    /* padding: 30px; */
}

section {
    padding: 2rem;
}

.bad_advertising {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
}

.form-container {
    border: 1px solid #ccc;
    box-shadow: 10px 5px 5px rgb(161, 158, 158);
}

form {
    padding-top: 15px;
    display: flex;
    gap: 100px;
    font-family: serif;
}

label {
    display: block;
    text-align: left;
}

input {
    font: 1rem sans-serif;
    width: 10rem;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus {
    border-color: blue;
}

input:invalid {
    border-color: red;
}

section > button { 
    font-size: 1rem;
    background-color: rgb(56, 68, 96);
    color: white;
    border-radius: 4rem; 
    padding: .75rem;
    width: 200px;
    height: 50px;
}

button:hover {
    background-color: green;
}

.last-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}